.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App button{
  border: 1px solid blue;
  padding: 16px;
  background-color: green;
  font: inherit;
  cursor : 'pointer';
}

.App button:hover{
  background-color: lightgreen;
  color: black;
}

.App button.Red{
  background-color: red;
}

.App button.Red:hover{
  background-color: salmon;
  color: black;
}
